.selector-working-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 0.2rem 0;
}

.selector-text {
  padding-right: 0.75rem;
}

.selector {
  width: 10rem;
  color: black;
  font-family: var(--paper-font-common-base_-_font-family);
}
