.editable-text-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.editable-text-content {
  padding: 0 0.2rem;
  outline: none;
  border: 0.2rem solid var(--color-active-light);
  border-radius: 0.5rem;
}

.editable-text-container span {
  overflow-wrap: anywhere;
}

.editable-text-container input:invalid {
  border: 0.2rem solid red;
}

.editable-text-button {
  margin: 0 0.1rem;
  cursor: pointer;
  height: 100%;
  color: var(--color-icon);
  border-radius: 0.2rem;
}

.editable-text-button:hover {
  color: var(--color-active-dark);
  background-color: var(--color-active-light);
}
