.infobox-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: #1d448d;
  opacity: 0.9;
  margin: 50px 20px;
}

.infobox-button {
  margin-left: auto;
  margin-bottom: auto;
}

.infobox-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
