.accordion {
  margin-bottom: 0rem;
}

.accordion-title,
.selector-label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.1rem 0.2rem;
  padding: 0 0.2rem;
}

.selector-label {
  margin: 0.15em;
  padding: 0.25em 0;
  width: 100%;
}

.editable-text-button {
  cursor: pointer;
  margin-left: 0.5rem;
}

.accordion-button-collapse {
  cursor: pointer;
}
