.dropzone-container {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  height: 40vh;
  margin: 20vh auto;
  max-width: 600px;
  overflow: hidden;
}

.dropzone-header {
  display: flex;
  width: 100%;
  background-color: var(--sidebar-background-color);
}

.dropzone-header button {
  margin-left: auto;
}

.dropzone-info-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropzone-info-area > * {
  padding: 0 0.2rem;
}
.dropzone-drop-area {
  border: 4px dashed var(--sidebar-background-color);
  border-radius: 0.5em;
  width: 90%;
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.dropzone-file {
  font-size: 1.2em;
}
