:root {
  --sidebar-width-open: 320px;
  --sidebar-width-close: 56px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  width: var(--sidebar-width-close);
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  z-index: 100 !important;
  overflow: auto;
  color: var(--color-text);
}

.sidebar-container.active {
  width: var(--sidebar-width-open);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.sidebar-item {
  width: 100%;
}

.sidebar-item > * {
  margin: 0.5rem 0;
}

.sidebar-title > svg:nth-child(1) {
  background-color: white;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 15px 0;
}

.sidebar-title h3 {
  margin: 0 0.2rem 0 0.4rem;
}

.sidebar-title svg {
  margin: 0;
}

.upload-file-button {
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

.sidebar-button {
  display: block;
  z-index: 120 !important;
  color: var(--color-icon);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 7px;
  background-color: transparent;
  margin: 20px auto;
}
.sidebar-button:hover {
  background-color: var(--color-active-dark);
}
