:root {
  --sidebar-width: 400px;
}

.sidebar-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  background-color: #fff;
  z-index: 100 !important;
  overflow: auto;
}

.button-sidebar {
  display: block;
  left: 0;
  top: 0;
  margin: 10px;
  position: absolute;
}

.button-sidebar.active {
  left: var(--sidebar-width);
}
