:root {
  --color-background: #2a2b2e;
  --color-icon: rgb(232, 234, 237);
  --color-text: #9aa0a6;
  --color-title: #98989a;
  --color-active-light: #8ab4f8;
  --color-active-dark: #202124;
  --paper-font-common-base_-_font-family: 'Roboto', 'Noto', sans-serif;
}

html,
body {
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--paper-font-common-base_-_font-family);
}
