.control-model-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-icon);
  border-radius: 10px;
  padding: 0.5rem;
}

.control-model-title {
  margin: 0;
}

.control-model-title h4 {
  margin: 0.2rem;
}
.control-model-control {
  width: 100%;
}
